In [1]:
from glob import glob
from ddl_parser import DDL2AlembicParser

## Tables

In [ ]:
files_list = [
    'btg_fl_retailer_assgnt.txt',
    'btg_pbc_retailer_assgnt.txt',
    'btg_pbc_route_data.txt',
    'btg_pep_calendar.txt',
    'btg_ref_calendar.txt',
    'fl_cust.txt',
    'fl_prod.txt',
    'fl_sales_2018.txt',
    'fl_sales_2019.txt',
    'fl_sales_2020.txt',
    'fl_sales_2021.txt',
    'gsc_msa_demo.txt',
    'mdm_msa_fl_xref.txt',
    'mdm_msa_pbc_xref.txt',
    'new_pbc_mkt_loc_struct.txt',
    'pbc_cust.txt',
    'pbc_prod.txt',
    'pbc_sales_2019.txt',
    'pbc_sales_2020.txt',
    'pbc_sales_2021.txt',
]

In [ ]:
tables_list = [file.split('.')[0] for file in files_list]
tables_list

In [ ]:
len(tables_list)

## Convert: DDL File --> Alembic

In [ ]:
# read the file
file_contents = open('sql/btg_all_tpt_tbls_hive_txt_ddl.hql').read()

# split into list of DDLs
ddl_list = file_contents.split(';')

# remove trailing '\n' entry if it exists
ddl_list = ddl_list[:-1] if ddl_list[-1] == '\n' else ddl_list

In [ ]:
found_tables = [DDL2AlembicParser().convert(raw_table)[0] for raw_table in ddl_list if DDL2AlembicParser().convert(raw_table)[0] in tables_list]
found_tables

In [ ]:
len(found_tables)

### Missing tables 
Are there any tables whose DDL I can't find?

In [ ]:
set(tables_list) - set(found_tables)

## Write Alembic notation to file

In [ ]:
type(DDL2AlembicParser().convert(ddl_list[0]))

In [ ]:
%%time
with open('alembic_file.py', 'w') as py_file:
    for idx, raw_table in enumerate(ddl_list):
        stripped_raw_table = raw_table.strip()
        
        try:
            table_name, formatted_table = DDL2AlembicParser().convert(stripped_raw_table)
        except:
            print(f"Failed on: \"{stripped_raw_table.strip()[:30]}\"")
            print('-'*50)
            continue
            
        if table_name in tables_list:
            print("#"*30,             file=py_file)
            print(f"#\t{table_name}", file=py_file)
            print("#"*30,             file=py_file)
            print(formatted_table,    file=py_file)
            
            print(f"wrote table:\t({idx+1})\t{table_name}")
        
        else:
            print(f"skipped table:\t({idx+1})\t{table_name}")
            
        print('-'*50)

### The Missing table
`btg_pbc_new_mkt_loc`

In [2]:
ddl = """
CREATE EXTERNAL TABLE dx_mvhs.btg_pbc_new_mkt_loc(
  cust_id int,
  nme varchar(35),
  loc_prod_nme varchar(35),
  loc_prod_mu_nme varchar(35),
  dely_adr_strt1 varchar(35),
  dely_adr_zip varchar(9),
  dely_adr_city varchar(28),
  dely_adr_cnty varchar(25),
  dely_adr_state varchar(2),
  hrchy_id int,
  hrchy_nme varchar(50),
  hrchy_owner_nme varchar(50),
  av_lbl_id int,
  av_lbl_nme varchar(50),
  ref_org_id int,
  ref_org_type varchar(3),
  hq_id int,
  hq_nme varchar(50),
  hq_type varchar(3),
  hq_ref_id int,
  bu_id int,
  bu_nme varchar(50),
  bu_type varchar(3),
  bu_ref_id int,
  reg_id int,
  reg_nme varchar(50),
  reg_type varchar(3),
  reg_ref_id int,
  mu_id int,
  mu_nme varchar(50),
  mu_type varchar(3),
  mu_ref_id int,
  area_id int,
  area_nme varchar(50),
  area_type varchar(3),
  area_ref_id int,
  loc_id int,
  loc_nme varchar(50))
ROW FORMAT DELIMITED
  FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION '${PRD_DIR}/${hivevar:hv_dbname}/btg_pbc_new_mkt_loc';
"""

In [7]:
print("#"*30)
print(f"#\tbtg_pbc_new_mkt_loc")
print("#"*30)

##############################
#	btg_pbc_new_mkt_loc
##############################

In [5]:
print(DDL2AlembicParser().convert(ddl)[1])

op.create_table(
    'btg_pbc_new_mkt_loc',
    sa.Column('cust_id', sa.INT()),
    sa.Column('nme', sa.VARCHAR(35)),
    sa.Column('loc_prod_nme', sa.VARCHAR(35)),
    sa.Column('loc_prod_mu_nme', sa.VARCHAR(35)),
    sa.Column('dely_adr_strt1', sa.VARCHAR(35)),
    sa.Column('dely_adr_zip', sa.VARCHAR(9)),
    sa.Column('dely_adr_city', sa.VARCHAR(28)),
    sa.Column('dely_adr_cnty', sa.VARCHAR(25)),
    sa.Column('dely_adr_state', sa.VARCHAR(2)),
    sa.Column('hrchy_id', sa.INT()),
    sa.Column('hrchy_nme', sa.VARCHAR(50)),
    sa.Column('hrchy_owner_nme', sa.VARCHAR(50)),
    sa.Column('av_lbl_id', sa.INT()),
    sa.Column('av_lbl_nme', sa.VARCHAR(50)),
    sa.Column('ref_org_id', sa.INT()),
    sa.Column('ref_org_type', sa.VARCHAR(3)),
    sa.Column('hq_id', sa.INT()),
    sa.Column('hq_nme', sa.VARCHAR(50)),
    sa.Column('hq_type', sa.VARCHAR(3)),
    sa.Column('hq_ref_id', sa.INT()),
    sa.Column('bu_id', sa.INT()),
    sa.Column('bu_nme', sa.VARCHAR(50)),
    sa.Column('bu_type', sa.VARCHAR(3)),
    sa.Column('bu_ref_id', sa.INT()),
    sa.Column('reg_id', sa.INT()),
    sa.Column('reg_nme', sa.VARCHAR(50)),
    sa.Column('reg_type', sa.VARCHAR(3)),
    sa.Column('reg_ref_id', sa.INT()),
    sa.Column('mu_id', sa.INT()),
    sa.Column('mu_nme', sa.VARCHAR(50)),
    sa.Column('mu_type', sa.VARCHAR(3)),
    sa.Column('mu_ref_id', sa.INT()),
    sa.Column('area_id', sa.INT()),
    sa.Column('area_nme', sa.VARCHAR(50)),
    sa.Column('area_type', sa.VARCHAR(3)),
    sa.Column('area_ref_id', sa.INT()),
    sa.Column('loc_id', sa.INT()),
    sa.Column('loc_nme', sa.VARCHAR(50))
)